.drawing-view {
	margin: 2rem 0;
	padding: 0%;
}

.drawing-view h2 {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#word-to-draw-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#h2-light-underline {
	text-decoration: underline;
	font-weight: lighter;
}

#canvas-container {
	width: 100%;
}

#send-draw-button {
	font-weight: bold;
}
