.welcome-view {
	margin: 2rem;
	padding: 1%;
}

#input-username {
	width: 65%;
	border-width: 0.8px;
	padding: 5px 2px;
}

#start-game-btn {
	/* Position */
	width: 50%;
	margin: 10% 0%;
	padding: 12px 32px;
	/* Text */
	font-size: 16px;
	line-height: 21px;
	font-weight: bold;
	letter-spacing: 0.25px;
	/* Border */
	border-radius: 4px;
}

/* Best Game Grid */

#best-game-grid {
	padding: 10px;
	width: 95%;
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: repeat(4, 2fr);
	column-gap: 14px;
	row-gap: 27px;
	border: 1px solid #000000;
}

#best-game-cell {
	border-bottom: 1px solid #000000;
}
