.App {
	display: inline-block;
	text-align: center;
	height: 100vh;
	width: 100vw;
}

/* Header */

.App-header {
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #282c34;
	padding: 15px 10px;
}

.header-titles {
	display: flex;
	flex-direction: column;
	font-size: calc(8px + 2vmin);
	color: #5aa8f0;
}

.header-username {
	color: #c9d5e0;
	font-size: 0.7em;
	position: absolute;
	right: 0;
	top: 0;
	padding-right: 10px;
	padding-top: calc(10px + 5vmin);
}

.header-timer {
	color: #c9d5e0;
	font-size: 0.7em;
	position: absolute;
	left: 0;
	top: 0;
	padding-left: 10px;
	padding-top: calc(10px + 5vmin);
}

#points {
	padding-top: calc(10px + 15vmin);
}

.App-header h1 {
	margin-top: 10px;
	margin-bottom: 15px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.App-header h4 {
	margin-top: 0%;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Buttons */

.btn {
	width: 90%;
	border: none;
	color: white;
	padding: 16px 0;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
}

.submit-btn {
	background-color: #5aa8f0;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 10px 2px;
	/* cursor: pointer; */
	border-radius: 4px;
}

.submit-btn:disabled,
submit-btn[disabled] {
	background-color: #cccccc;
	color: #666666;
}

/* Canvas Component */

#canvas-view {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#react-sketch {
	width: 90%;
	height: 25vh;
	max-height: 75%;
	margin-bottom: 10px;
}

/* Canvas Buttons */

#canvas-buttons-comp {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.btn-grid-cell {
	display: inline-block;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	user-select: none;
	border: 1px solid transparent;
	padding: 0.15rem 0;
	font-size: 1rem;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#btn-primary {
	color: #fff;
	background-color: #0d6efd;
	border-color: #0d6efd;
}

#btn-primary:hover {
	color: #fff;
	background-color: #0b5ed7;
	border-color: #0a58ca;
}

#btn-secondary {
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
}

#btn-secondary:hover {
	color: #fff;
	background-color: #363b3f;
	border-color: #363b3f;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
	cursor: pointer;
}

#canvas-buttons-grid {
	padding-top: 20px;
	width: 90%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 20px;
	row-gap: 10px;
}

#canvas-form-grid {
	padding: 20px;
	width: 90%;
	display: grid;
	grid-template-columns: repeat(2, 2fr);
	column-gap: 1px;
	row-gap: 15px;
}

.form-grid-cell {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.form-cell-label {
	margin: 5px;
	font-size: 14px;
}
